.btn {
    background-color: #007298;
    padding: 5px 15px;
    display: inline-flex;
    font-size: medium;
    margin-left: 10px;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #98C1D9;
    border: 2px solid #3D5A80;
}

.btn:focus {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn:active {
    background-color: #293241;
}

.btn-icon {
    padding-left: 15px;
}
